@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("./fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "nevis";
  src: url("./fonts/nevis.ttf");
}
@font-face {
  font-family: "nevis-bold";
  src: url("./fonts/nevis-bold.ttf");
}
body {
  color: #262626;
  font-family: nevis-bold;
  font-weight: 900;
  overflow-x: hidden;
}

.header-strip h2 {
  font-family: nevis-bold;
  font-weight: 900;
}

.header-strip h4, .header-strip p strong {
  font-family: "Roboto-BoldItalic", sans-serif;
  font-weight: 700;
}

h2, h4, p {
  color: #989898;
}

p {
  font-size: 1.1rem;
}

.navbar {
  height: 90px;
  border-bottom: 1px solid #989898;
}
.navbar .navbar-brand {
  padding-left: 26px;
}
.navbar .navbar-brand img {
  height: 70px;
}
.navbar .nav-item {
  display: flex;
  align-items: flex-end;
}
.navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  color: #989898;
  font-family: nevis-bold;
  padding: 0.8rem 1.6rem 0.05rem;
}
.navbar .nav-item .nav-link.active {
  color: #808285;
}
.navbar .nav-item:last-child {
  padding-right: 0;
}
.navbar .nav-item i {
  color: #989898;
  padding-top: 2px;
  font-size: 1.4rem;
}

.home-banner {
  height: 100vh;
}
.home-banner .home-banner-bg {
  height: 100%;
  background: url("../img/Untitled-10.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 140px;
}

.header-strip {
  border-top: 1px solid #989898;
  border-bottom: 1px solid #989898;
  color: #989898;
}
.header-strip .right-padding {
  padding-right: 11px;
}
.header-strip p {
  font-family: "Roboto-LightItalic", sans-serif;
  font-weight: 300;
}
.header-strip p strong {
  font-family: "Roboto-BoldItalic", sans-serif;
  font-weight: 700;
  color: #818181;
}
.header-strip h4 {
  font-size: 1.5rem;
  color: #808285;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}
.header-strip h4 span {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
  color: #bcbec0;
}
.header-strip img {
  margin-top: -4px;
}

.bg-town-container {
  height: 400px;
  position: relative;
}
.bg-town-container .wrapper {
  background-color: #e8e6e6;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 230px;
  margin-top: -1px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.bg-town-container .wrapper .home-town div {
  text-align: center;
  width: 800px;
  height: 230px;
  float: left;
  position: relative;
}
.bg-town-container .wrapper .home-town div img {
  width: 100%;
  height: auto;
}

.card-container .card {
  border: none;
}
.card-container .card .card-body {
  padding: 1rem 1.25rem 1rem 0;
}
.card-container .card .card-body .arrow {
  position: relative;
}
.card-container .card .card-body .arrow:after {
  content: url("../img/arrow.png");
  position: absolute;
  top: 12px;
  right: -29px;
}
.card-container .card .card-body img {
  margin-bottom: 1.7rem;
}
.card-container .card .card-body h2 {
  position: relative;
  padding: 8px;
  border: 1px solid #989898;
  margin-right: 8px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  font-size: 2.2rem;
}
.card-container .card .card-body h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 6px 8px 5px;
  border: 1px solid #989898;
  font-family: nevis-bold;
  font-weight: 900;
  max-width: 240px;
}
.card-container .card .card-body p {
  font-size: 1.15rem;
  font-family: "Roboto-LightItalic", sans-serif;
  font-weight: 300;
  padding: 7px 0 0 0;
  max-width: 210px;
  margin-bottom: 0.5rem;
}

.bg-town-container {
  background-color: #e8e6e6;
  padding-bottom: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.map-bg {
  background: url("../img/map.png") no-repeat top left;
  padding-top: 20px;
  background-size: cover;
  height: 540px;
  background-attachment: scroll;
  position: relative;
}
.map-bg .img-top {
  padding-right: 15px;
  position: absolute;
  top: 122px;
  left: 30%;
}
.map-bg .img-top img {
  height: 370px;
}

.map-bg-1 {
  background: url("../img/map1.png") no-repeat top left;
  background-size: cover;
  height: 540px;
  background-position: -10px -60px;
  background-attachment: scroll;
  position: relative;
}
.map-bg-1 .img-top {
  position: absolute;
  padding-right: 15px;
  top: 100px;
  left: 19.5%;
}
.map-bg-1 .img-top img {
  height: 370px;
}

.team p {
  font-family: "Roboto-LightItalic", sans-serif;
  font-weight: 300;
}
.team p strong {
  font-family: "Roboto-BoldItalic", sans-serif;
  font-weight: 700;
}
.team .left-box ul {
  margin: 0;
  padding: 0;
}
.team .left-box ul li {
  border: 1px solid #989898;
  list-style: none;
  width: 32%;
  margin-left: 16px;
  padding: 10px 10px 0;
}
.team .left-box ul li:nth-child(1) {
  margin-left: 0;
}
.team .left-box ul li h4 {
  font-size: 1rem;
  color: #808285;
  margin-bottom: 1rem;
}
.team .left-box ul li p {
  font-size: 0.8rem;
}
.team .left-box ul li p strong {
  color: #808285;
}

.team-people ul {
  margin: 0;
  padding: 0;
  margin-right: 18px;
}
.team-people ul li {
  margin-left: auto;
  width: 85%;
  border: 1px solid #989898;
  list-style: none;
  padding: 8px;
  margin-bottom: 16px;
}
.team-people ul li .info {
  padding-left: 4px;
}
.team-people ul li .info h4 {
  padding-right: 8px;
  font-size: 0.9rem;
  color: #808285;
  margin-bottom: 0.5rem;
}
.team-people ul li .info p {
  font-size: 0.7rem;
  margin-bottom: 0;
}
.team-people ul li .info p strong {
  color: #808285;
}
.team-people ul li .info .post {
  margin-top: 12px;
}

.map-bg .team-people ul li .info h4, .map-bg-1 .team-people ul li .info h4 {
  font-size: 0.8rem;
  padding-right: 0 !important;
}
.map-bg .team-people ul li img, .map-bg-1 .team-people ul li img {
  height: 90px;
}

.map-bg .team-people ul li {
  width: 90%;
}

@media screen and (min-width: 1400px) {
  .map-bg {
    background-position: 0 -45px;
  }
  .map-bg .img-top {
    top: 90px;
  }

  .map-bg-1 {
    background-position: 0 -118px;
    background-size: cover;
    height: 590px;
  }
  .map-bg-1 .img-top {
    top: 70px;
    left: 21%;
  }
}
@media screen and (min-width: 1600px) {
  .map-bg {
    background-position: 0 -50px;
  }
  .map-bg .img-top {
    top: 100px;
    left: 30%;
  }

  .map-bg-1 {
    height: 590px;
    background-position: 0 -164px;
  }
  .map-bg-1 .img-top {
    top: 70px;
    left: 20.5%;
  }
}
@media screen and (min-width: 1800px) {
  .map-bg {
    background-position: 0 -78px;
  }
  .map-bg .img-top {
    top: 100px;
    left: 30.5%;
  }

  .map-bg-1 {
    background-position: 0 -250px;
    height: 590px;
  }
  .map-bg-1 .img-top {
    top: 81px;
    left: 20.5%;
  }
}
@media screen and (max-width: 1200px) {
  .map-bg-1 .img-top {
    top: 35px;
    left: 22%;
  }
}
@media screen and (max-width: 1199px) {
  .navbar .navbar-brand img {
    padding-left: 10px;
  }

  .card-container .card .card-body {
    padding: 1rem;
  }
  .card-container .card .card-body .arrow:after {
    top: 8px;
  }
  .card-container .card .card-body h2 {
    font-size: 1.8rem;
  }
  .card-container .card .card-body h4 {
    font-size: 1.1rem;
  }
  .card-container .card .card-body p {
    padding: 10px 0px 0 0;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .header-strip p {
    font-size: 1rem;
  }

  .bg-town-container {
    padding-top: 140px;
  }

  .map-bg {
    height: 600px;
  }
  .map-bg .img-top {
    top: 107px;
    left: 37%;
  }

  .map-bg-1 {
    height: 590px;
  }
  .map-bg-1 .img-top {
    top: 9px;
    left: 18.5%;
  }
}
@media screen and (max-width: 1080px) {
  .map-bg {
    height: 600px;
  }
  .map-bg .img-top {
    top: 108px;
    left: 36.5%;
  }

  .map-bg-1 {
    background-position: 0;
    height: 600px;
  }
  .map-bg-1 .img-top {
    top: 122px;
    left: 25%;
  }
}
@media screen and (max-width: 991px) {
  .home-banner {
    margin-top: 150px;
  }

  .navbar {
    padding: 0.5rem;
  }
  .navbar .navbar-brand img {
    height: 55px;
  }
  .navbar .nav-item .nav-link {
    font-size: 0.84rem;
    padding: 0.8rem 0.5rem 0.5rem;
  }

  .header-strip h2 {
    font-size: 1.7rem;
  }

  .bg-town-container {
    height: 400px;
  }

  .card-container .card .card-body {
    padding: 0;
  }
  .card-container .card .card-body .arrow:after {
    right: -36px;
  }
  .card-container .card .card-body h2 {
    font-size: 1.4rem;
    margin-right: 4px;
    padding: 12px 9px 12px 9px;
  }
  .card-container .card .card-body img {
    margin-bottom: 2rem;
  }
  .card-container .card .card-body h4 {
    font-size: 1rem;
    padding: 6px 0 5px 4px;
  }
  .card-container .card .card-body p {
    font-size: 0.9rem;
  }

  .header-strip h4 {
    font-size: 1rem;
  }

  .map-bg {
    height: 450px;
  }
  .map-bg .img-top {
    top: -20px;
    left: 37%;
  }

  .map-bg-1 {
    height: 450px;
  }
  .map-bg-1 .img-top {
    background-size: cover;
  }
  .map-bg-1 .img-top img {
    height: 370px;
  }

  .team h2 {
    font-size: 1.8rem;
  }
  .team p {
    font-size: 1rem;
  }
  .team .left-box ul li h4 {
    margin-bottom: 0.5rem;
  }
  .team .left-box img {
    height: 300px;
  }

  .team-people ul li {
    margin-top: 1.5rem;
    width: 32%;
    float: left;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 8px 8px 4px 8px;
    min-height: 98px;
  }
  .team-people ul li:first-child {
    margin-left: 0px;
  }
  .team-people ul li img {
    height: 75px;
  }
  .team-people ul li .info h4 {
    font-size: 0.75rem;
  }
  .team-people ul li .info .post {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
    padding-top: 40px;
    background-color: #989898;
  }
  .mobile-menu .side-nav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  .mobile-menu .side-nav a.closebtn {
    position: absolute;
    top: 16px;
    right: 25px;
  }
  .mobile-menu .menu-icon {
    display: inline-block;
  }
  .mobile-menu .menu-icon .menu-bar {
    height: 3px;
    width: 25px;
    margin: 4px 0;
    background-color: #989898;
  }

  .card-container .card {
    margin-bottom: 2rem;
  }
  .card-container .card .card-body img {
    height: 300px;
    margin: 0 auto 1.2rem;
  }
  .card-container .card .card-body .arrow:after {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
